* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather, Georgia, serif;
    font-size: 1.2em;
    color: #333;
    background: #fff;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: navy;
}

header {
    margin: 0 auto;
    width: 650px;
}

form {
    border: 1px solid rgb(223, 222, 222);
    border-radius: 0.5rem;
    display: grid;
    padding: 1rem;
    width: 650px;
    background-color: #eee;
    margin: 1rem;
}

code {
    background-color: black;
    color: white;
    padding: 17px;
    display: block;
    width: 400px;
    margin-top: 12px;
    margin-bottom: 17px;
}

label {
    display: block;
    width: 100%;
}

.xq label {
    padding-top: 30px;
}

input,
textarea,
select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 5px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
}

textarea {
    padding: 43px;
    margin-top: 10px;
    margin-bottom: 25px;
}

select {
    padding: 12px;
    margin-top: 13px;
    margin-bottom: 20px;
}

.xd {
    padding: 12px;
}

.container {
    display: block;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 17px;
    background-color: darkblue;
    color: white;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    margin-bottom: 35px;
}