* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: darkblue;
    --border: 1px solid black;
}

.grid {
    display: grid;
    align-items: center;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
    border-bottom: 1;
}

h2 {
    position: absolute;
    top: 20px;
    left: 127px;
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    grid-column: 2;
    margin: 1rem;
}

aside {
    width: 20em;
    margin: 1em;
    border: var(--border);
    padding: 1em;
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
    grid-column: 1;
    grid-row-start: 1;

}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border);
    padding: 10px;
    box-shadow: 0 0 30px #333;
    float: right;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.box li {
    margin-left: 10px;
}